<h2 id="title">Galilee Art</h2>

{{#each this.airtableService.allFurniture as |furniture|}}
  {{#each (a-get furniture "Images") as |image|}}
    <img src={{image.url}} width="300"/>
  {{/each}}
  <br />
  {{a-get furniture "Name"}}
  <br />
  <hr />
{{else}}
  ...Loading
{{/each}}